# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Caches and test artifacts
.pytest_cache/
*.log

# Environment files
.env
.env.local

# Operating System files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# IDEs
.vscode/
.idea/

# Binary installers
*.exe
